.title {
    font-size: 14px;
    -unity-font-style: bold;
}

.panel {
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    max-width: 200px;
    background-color: rgb(50, 50, 50);
    min-width: 200px;
}
